<app-navbar></app-navbar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="background-color: black; " class="arrows">
      <div>
        <span class="material-icons"  routerLink="/cliente/:id" style="color:white; font-size: 56px; transform: rotate(0deg); -webkit-text-stroke-width: 4px;"> arrow_back </span>
  
      </div>
      <div class="titles">
        <h2>Gabriel Loroña</h2>
        <h3>¡Es tu paseador asignado!</h3>
      </div>
    
    
</div>
<mat-grid-list cols="1" rowHeight="3:1" gutterSize="40px" >
    <mat-grid-tile class="cu1">
        <mat-card class="example-card" >
            
            <mat-card-content>
                
            </mat-card-content>
            <mat-card-content>Edad: 25 años</mat-card-content>
            <mat-card-content>Teléfono: 0961212788</mat-card-content>
          </mat-card>
        
    </mat-grid-tile>
    


    <mat-grid-tile>
        <mat-card class="example-card c2"  >
            
            <mat-card-content>
              Total de paseos realizados: 15
            </mat-card-content>
          </mat-card>
          
    </mat-grid-tile>



    
    
  </mat-grid-list>
  <div class="logo">
    <img src="../../../assets/img/puppets.png"> 
</div> 
   








