<app-navbar></app-navbar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="background-color: black; " class="arrows" *ngFor="let p of paseador">
      <div>
        <span class="material-icons"  routerLink="/cliente/:id" style="color:white; font-size: 56px; transform: rotate(0deg); -webkit-text-stroke-width: 4px;"> arrow_back </span>
  
      </div>
      <div class="titles" >
        <h2>{{p.walker_name}} </h2>
        <h3>¡Es tu paseador asignado!</h3>
      </div>
    
    
</div>
<mat-grid-list cols="1" rowHeight="3:1" gutterSize="40px" *ngFor="let p of paseador">
    <mat-grid-tile class="cu1">
        <mat-card class="example-card">
            
            
            <mat-card-content  >
              Teléfono: {{p.walker_tel}} </mat-card-content>
          </mat-card>
        
    </mat-grid-tile>
    


    <mat-grid-tile>
        <mat-card class="example-card c2"  >
            
            <mat-card-content>
              Total de paseos realizados: 15
            </mat-card-content>
          </mat-card>
          
    </mat-grid-tile>



    
    
  </mat-grid-list>
  <div class="logo">
    <img src="../../../assets/img/puppets.png"> 
</div> 
   








