<div class="col-md-12">
    <div class="card card-container">
      <img
        id="profile-img"
        src="../../../assets/img/puppers.jpg"
        class="profile-img-card"
      />
      <form
      
      >
        <div class="form-group">
          <label for="actual">Contraseña Actual</label>
          <input
            type="password"
            class="form-control"
          
          required
          minlength="6"
         />
          
        </div>

        <div class="form-group">
          <label for="password">Contraseña Nueva</label>
          <input type="password"
          class="form-control"
          name="actual"
         
          required
            
          />
          
        </div>   
        
        <div class="buttongroup">
          <button mat-raised-button color="primary" class="btn btn-primary btn-block">
           Cancelar
          </button>
          <button mat-raised-button color="primary" class="btn btn-primary btn-block">
            Aceptar
          </button>
        </div>
       
      </form>
  
      
  
    </div>
  </div>