<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>

        <div class="flex-container">
            <div class="button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a delete icon" routerLink="dashboard">
                <mat-icon color="accent">drag_indicator</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
                <mat-icon color="accent">calendar_today</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a home icon" routerLink="dashboard/data">
                <mat-icon color="accent">contacts</mat-icon>
              </button>
            </div>
          </div>
    </mat-drawer>
</mat-drawer-container>