<app-navbar></app-navbar>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="background-color: black; " class="titles" *ngFor="let p of paseador">
    <h2>Actividad: Paseo</h2>
    <h3>Hola {{p.walker_name}} !</h3>
    <h3>¿Listo para el paseo?</h3>
    
</div>
<mat-grid-list cols="1" rowHeight="3:1" gutterSize="40px" >
    <mat-grid-tile class="cu1">
        <mat-card class="example-card" >
            
            <mat-card-content>
                
            </mat-card-content>
            <mat-card-content class="select">Selecciona tú mascota</mat-card-content>
            <mat-form-field >
              <mat-label >Mascotas: </mat-label>
              <mat-select [(value)]="selected" >
                <div *ngFor="let foto of mascotas">
                    
                    <mat-option value="{{foto.pet_token}}" (click)="obtenerDatosVista()" > {{foto.pet_name}} </mat-option>


                </div>
            </mat-select>
              </mat-form-field>
              
              
             
           
          </mat-card>
        
    </mat-grid-tile>
    


    <mat-grid-tile>
        <mat-card class="example-card c2"  >
          <div *ngIf="selected">
            <mat-card-content> <strong>Datos del Cliente</strong></mat-card-content>
            <mat-card-content *ngFor="let l of location"> Localización :{{l.location_name}} </mat-card-content>
            <mat-card-content *ngFor="let a of area"> Área : {{a.area_name}} </mat-card-content>
            <mat-card-content *ngFor="let c of cliente"> Teléfono: {{c.client_tel}} </mat-card-content>
            <mat-card-content *ngFor="let m of mascota"><strong>Raza de la mascota:</strong> {{m.pet_breed}}  </mat-card-content>
          </div>
            
          </mat-card>
          
    </mat-grid-tile>



    <mat-grid-tile>
      <mat-card class="example-card c3"  >
          
          <mat-card-content>
            Marcar finalización del paseo
          </mat-card-content>
          <button class="btn btn-primary btn-block">
            Marcar
          </button>


          <mat-card-content>
            Marcar recepción de mascota
          </mat-card-content>
          <button class="btn btn-primary btn-block">
            Marcar
          </button>
        </mat-card>
        
  </mat-grid-tile>
  

 
  </mat-grid-list> 

  

  <div class="logo">
    <img src="../../../assets/img/puppets.png"> 
</div>

