*{
    
    font-family:Georgia, 'Times New Roman', Times, serif ;
    
    
    
        
}
.titles{
    color: white;
    padding-bottom: 20px;
   
}
h2{
    padding: 25px;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
h3{
    font-size: 2.9vh;
    padding-left: 10%;
    
}
.fontcolor{
    color: white;
    
    
}
mat-grid-list{
    background-color: black;
    color: white;
    padding-top: 20px;
    justify-content: center;
    height: 100%;
    
}
.example-card {
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
    
  }
  
mat-form-field{
    width: 50%;
}

  mat-card-content{
    font-size: 2.9vh;
    padding: 10px;
  }

mat-card{
    background-image: url(../../../assets/img/perrito.jpg) ;
    
    background-size: cover;
    background-position: center;
    
    color: white;
  }
img{
    opacity: 0.5;
}

.c2{
    background-image: url(../../../assets/img/descarga.jpg) ;
    
    
}
.c3{
    background-image: url(../../../assets/img/perr.jpg) ;
}
.logo{
    padding-top: 30px;
    background-color: black;
    display: flex;
    
    justify-content: center;
   
}
img{
    height: 18vh;
   
    
}
input{
    justify-content: center;
}

button{
    width: 30%;
    background-color: white;
    color: black;
    border-color:white;
    margin-bottom: 10px;

    
  }

.btn:hover{
    background-color: #5F0731;
    border-color: #5F0731;
}

