<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="background-color: black; " class="titles">
    <h2>Buenos días Javier!</h2>
    <h3>Tu planificación para el día de hoy</h3>
    
</div>
<mat-grid-list cols="1" rowHeight="3:1" gutterSize="40px" >
    <mat-grid-tile class="cu1">
        <mat-card class="example-card" >
            
            <mat-card-content>
                <mat-icon >pets</mat-icon>Próximo paseo
            </mat-card-content>
            <mat-card-content>Pasear a Kyro</mat-card-content>
          </mat-card>
          <mat-icon style="align-items: center;;">keyboard_arrow_right</mat-icon>
    </mat-grid-tile>
    


    <mat-grid-tile>
        <mat-card class="example-card c2"  >
            
            <mat-card-content><mat-icon>calendar_today</mat-icon>
              Calendario
            </mat-card-content>
          </mat-card>
          <mat-icon>keyboard_arrow_right</mat-icon>
    </mat-grid-tile>



    
    
  </mat-grid-list>