*{
    
    font-family:Georgia, 'Times New Roman', Times, serif ;
        
}
.titles{
    color: white;
    padding-bottom: 20px;
   
}
h2{
    padding: 25px;
    font-size: 5vh;

}
h3{
    font-size: 3vh;
    padding-left: 20px;
    
}
.fontcolor{
    color: white;
    
    
}
mat-grid-list{
    background-color: black;
    color: white;
    padding-top: 20px;
    
    height: 100%;
    
}
.example-card {
    width: 80%;
    height: 95%;
    
    
  }

  mat-card-content{
    font-size: 4vh;
  }

mat-card{
    background-image: url(../../../assets/img/perrito.jpg) ;
    
    background-size: cover;
    background-position: center;
    
    color: white;
  }
img{
    opacity: 0.5;
}

.c2{
    background-image: url(../../../assets/img/descarga.jpg) ;
    
}
.c3{
    background-image: url(../../../assets/img/3.jpeg) ;
}