<app-navbar></app-navbar>
<div class="contenidopag">
    <app-sidenav></app-sidenav>
    <div class="contenidoside">
        <div class="botontext">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" routerLink="/manageboard">
              <mat-icon color="accent">arrow_back</mat-icon>
            </button>
            <h5>Volver</h5>
        </div>
        <h4>Nuevo Cliente</h4>
        <mat-divider></mat-divider>

        <div class="form">
            <mat-form-field>
                <mat-label>Nombre y Apellido del cliente: </mat-label>
                <input matInput placeholder="Maria Espinal" [formControl]="nombre" [value]="nombre" required>
                <mat-error *ngIf="nombre.invalid">{{getErrorCel()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Email del cliente: </mat-label>
              <input matInput placeholder="marespi@gmail.com" [formControl]="email" [value]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorCel()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Usuario del cliente: </mat-label>
                <input matInput placeholder="marlil" [formControl]="username" [value]="username" required>
                <mat-error *ngIf="username.invalid">{{getErrorUsername()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Numero de cedula: </mat-label>
              <input matInput placeholder="0926805034" [formControl]="cedula" [value]="cedula" required>
              <mat-error *ngIf="cedula.invalid">{{getErrorCel()}}</mat-error>
            </mat-form-field>


            <mat-form-field>
              <mat-label>Numero de telefono: </mat-label>
              <input matInput placeholder="0992329405" [formControl]="telefono" [value]="telefono" required>
              <mat-error *ngIf="telefono.invalid">{{getErrorCel()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Area:</mat-label>
        
                <mat-select [(value)]="selectedArea">
                  <mat-option value="default">Selecciona un Area</mat-option>
                  <div *ngFor="let area of areas">
                    <mat-option value={{area.area_id}}>{{area.area_name}}</mat-option>
                  </div>
                </mat-select>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Localizacion:</mat-label>
        
                <mat-select [(value)]="selectedLocation">
                  <mat-option value=0>Selecciona una Localizacion</mat-option>
                  <div *ngFor="let location of localizaciones">
                    <mat-option value={{location.location_id}}>{{location.location_name}}</mat-option>
                  </div>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Link de Google maps: </mat-label>
              <input matInput placeholder="https://goo.gl/maps/ewBM4pmCVJDWVGHL6" [formControl]="link" [value]="link" required>
              <mat-error *ngIf="link.invalid">{{getErrorLink()}}</mat-error>
            </mat-form-field>
            <mat-error *ngIf="messageError">{{errorForm()}}</mat-error>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="onSubmit()">Crear</button>
                <button mat-raised-button color="accent" routerLink="/manageboard">Cancelar</button>
            </div>


            
        </div>
        
        
        

        

    </div>


</div>