<app-navbar></app-navbar>
<div class="contenidopag">
  <app-sidenav></app-sidenav>
  <div class="contenidoside">
    <mat-grid-list cols="2" rowHeight="7:1" class="pickers">
        <mat-grid-tile class="fila1">
          <mat-form-field>
            <mat-label>Elige un paseador</mat-label>
            <mat-select [(value)]="selected">
              <mat-option value="option1">Gabriel Lorona</mat-option>
              <mat-option value="option2">Javier Vergara</mat-option>
              <mat-option value="option3">Josseline Astudillo</mat-option>
              <mat-option value="option3">Gabriel Maldonado</mat-option>
            </mat-select>
          </mat-form-field>



        </mat-grid-tile>
        <mat-grid-tile class="fila1">

            <mat-form-field>
                <mat-label>Elige una zona</mat-label>
                <mat-select [(value)]="selected">
                  <mat-option value="option1">Ceibos</mat-option>
                  <mat-option value="option2">Samborondon</mat-option>
                  <mat-option value="option3">Via a la Costa</mat-option>
                </mat-select>
              </mat-form-field>




        </mat-grid-tile>
    </mat-grid-list>
    <div class="contentcalendar">
        <div>
            <app-calendar></app-calendar>
        </div>

    </div>
  </div>
</div>