<app-navbar></app-navbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>

        <div class="flex-container">
            <div class="button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon color="accent">delete</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
                <mat-icon color="accent">bookmark</mat-icon>
              </button>
            </div>
            <div class="example-button-container">
              <button mat-fab color="primary" aria-label="Example icon button with a home icon">
                <mat-icon color="accent">home</mat-icon>
              </button>
            </div>
          </div>



    </mat-drawer>
    <mat-drawer-content>
        <mat-grid-list cols="2" rowHeight="5:1" class="pickers">
            <mat-grid-tile class="fila1">
                <mat-form-field>
                    
                    <mat-label>Elige una fecha</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>



            </mat-grid-tile>
            <mat-grid-tile class="fila1">

                <mat-form-field>
                    <mat-label>Elige una zona</mat-label>
                    <mat-select [(value)]="selected">
                      <mat-option value="option1">Ceibos</mat-option>
                      <mat-option value="option2">Samborondon</mat-option>
                      <mat-option value="option3">Via a la Costa</mat-option>
                    </mat-select>
                  </mat-form-field>




            </mat-grid-tile>
        </mat-grid-list>
        <div class="content">
            <div>
                <app-calendar></app-calendar>
            </div>

        </div>

    </mat-drawer-content>
</mat-drawer-container>