*{
    
    font-family:Georgia, 'Times New Roman', Times, serif ;
        
}
.titles{
    color: white;
    padding-bottom: 20px;
    
   
}
h2{
    padding: 25px;
    font-size: 5vh;

}
h3{
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fontcolor{
    color: white;
    
    
}

.mat-grid-tile :hover{
    color: grey;
}
.mat-grid-list{
    background-color: black;
    color: white;
    padding-top: 10px;
    height: 50vh;
}
.example-card {
    width: 80%;
    height: 95%;
    
    
  }

.fx{
    background-color: black;
    display: grid;
    justify-content: space-around;

}

  mat-card-content{
    font-size: 4vh;
  }

mat-card{
    background-image: url(../../../assets/img/homecliente.jpg) ;
    
    background-size: cover;
    background-position: center;
    
    color: white;
}
.logo{
    padding-top: 30px;
    background-color: black;
    display: flex;
    
    justify-content: center;
   
}
img{
    height: 18vh;
   
    
}
.fx > img{
    padding: 20px;
    height: 40vh;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight:normal;
    font-style: normal;
    font-size: 40px;
    display: contents;
}
.c2{
    background-image: url(../../../assets/img/2.jpeg) ;
    
}
.c3{
    background-image: url(../../../assets/img/3.jpeg) ;
}

.c4{
    background-image: url(../../../assets/img/puppers.jpg);
}

label {
    display: block;
    margin-top: 10px;
  }
  
  .card-container.card {
    max-width: 400px !important;
    padding: 40px 40px;
  }
  
  mat-form-field {
    padding: 1vh 0vw;
    width: 100%;
    background-color: black;
  
  }
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  mat-select{
    width: 100%;
    
  }
  

  .card {
    background-color: #f7f7f7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }