<app-navbar></app-navbar>
<div class="contenidopag">
    <app-sidenav></app-sidenav>
    <div class="contenidoside" *ngIf="dataready">
        <div class="botontext">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon" routerLink="/manageboard">
              <mat-icon color="accent">arrow_back</mat-icon>
            </button>
            <h5>Volver</h5>
        </div>
        <h4>Informacion de Servicio</h4>
        <div class="example-button-row">
            <button mat-raised-button color="primary" routerLink="/editServicio/{{servicioAc.servicio_ID}}" >Editar</button>
        </div>
        <mat-divider></mat-divider>
        <mat-list>
            <div mat-subheader>Datos</div>
            <mat-list-item>
              <mat-icon matListItemIcon>search</mat-icon>
              <div matListItemTitle>{{servicioAc.servicio_ID}}</div>
              <div matListItemLine>ID de Servicio</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>pets</mat-icon>
              <div matListItemTitle>{{mascotaInf.pet_name}}</div>
              <div matListItemLine>Mascota con servicio contratado</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>assignment_ind</mat-icon>
                <div matListItemTitle>{{paseador.walker_name}}</div>
                <div matListItemLine>Paseador asignado</div>
            </mat-list-item>
            <mat-list-item>
              <mat-icon matListItemIcon>access_time</mat-icon>
              <div matListItemTitle>{{fi.convertido}}</div>
              <div matListItemLine>Franja Horaria</div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <div mat-subheader>Paseos realizados</div>
          <mat-list-item *ngFor="let paseo of arr">
            <div matListItemTitle>{{paseo.no}}. {{paseo.walker_name}} - {{paseo.fecha}}</div>
            <div matListItemLine>Paseador - Fecha</div>
          </mat-list-item>


            
            
          </mat-list>

          <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="del()">Eliminar</button>
            <button mat-raised-button color="accent" routerLink="/manageboard">Volver</button>
          </div>
        
        

        

    </div>


</div>
