<mat-toolbar color="primary">
    <img src="../../../assets/img/puppers.jpg" class="logo">
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/dashboard" [matMenuTriggerFor]="menu1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
        <mat-menu #menu1="matMenu">
            <button mat-menu-item>No hay notificaciones</button>
        </mat-menu>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/dashboard" [matMenuTriggerFor]="menu">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Configuracion</button>
            <button mat-menu-item *ngIf="isAuthenticated" (click)="logout()">Cerrar Sesion</button>
        </mat-menu>
    </button>
    
</mat-toolbar>
<router-outlet></router-outlet>
